<web-app>
  <servlet>
    <servlet-name>vote</servlet-name>
    <servlet-class>VoteServlet</servlet-class>
    <init-param>
      <param-name>errorTextColor</param-name>
      <param-value>red</param-value>
    </init-param>
    <init-param>
      <param-name>commonTextColor</param-name>
      <param-value>#521406</param-value>
    </init-param>
    <init-param>
      <param-name>welcomeTextColor</param-name>
      <param-value>blue</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>vote</servlet-name>
    <url-pattern>/checkvoter</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sex</servlet-name>
    <servlet-class>SexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sex</servlet-name>
    <url-pattern>/checksex</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>logVoter</filter-name>
    <filter-class>LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logVoter</filter-name>
    <servlet-name>vote</servlet-name>
  </filter-mapping>

</web-app>
